<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>general/name</key>
	<string>Metaphore</string>
	<key>navbar/height</key>
	<integer>100</integer>
	<key>navbar/red</key>
	<integer>226</integer>
	<key>navbar/green</key>
	<integer>106</integer>
	<key>navbar/blue</key>
	<integer>106</integer>
	<key>canvas/red</key>
	<integer>240</integer>
	<key>canvas/green</key>
	<integer>240</integer>
	<key>canvas/blue</key>
	<integer>240</integer>
	<key>canvas/position/height</key>
	<integer>30</integer>
	<key>canvas/position/width</key>
	<integer>30</integer>
	<key>canvas/corner/height</key>
	<integer>15</integer>
	<key>canvas/corner/width</key>
	<integer>15</integer>
	<key>canvas/column/height</key>
	<integer>15</integer>
	<key>canvas/column/width</key>
	<integer>15</integer>
	<key>canvas/safeAreaRatio</key>
	<integer>25</integer>
	<key>pickers/rowHeight</key>
	<integer>20</integer>
	<key>pickers/rowWidth</key>
	<integer>200</integer>
	<key>buttons/normal/measure/height</key>
	<integer>30</integer>
	<key>buttons/normal/measure/width</key>
	<integer>30</integer>
	<key>buttons/big/measure/height</key>
	<integer>100</integer>
	<key>buttons/big/measure/width</key>
	<integer>100</integer>
</dict>
</plist>
