<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calibration/measures/minNumber</key>
	<integer>15</integer>
	<key>calibration/measures/maxNumber</key>
	<integer>100</integer>
	<key>calibration/measures/gaussThreshold</key>
	<integer>80</integer>
	<key>calibration/measures/minMeasuresAfterGauss</key>
	<integer>5</integer>
	<key>calibration/init/refRSSI</key>
	<integer>-60</integer>
	<key>calibration/init/refDistance</key>
	<integer>1</integer>
	<key>calibration/init/attenuationFactor</key>
	<integer>2</integer>
	<key>calibration/init/attenuationDistance</key>
	<integer>2</integer>
</dict>
</plist>
