<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>general/name</key>
	<string>Metaphore</string>
	<key>navbar/height</key>
	<integer>100</integer>
	<key>navbar/red</key>
	<integer>45</integer>
	<key>navbar/green</key>
	<integer>80</integer>
	<key>navbar/blue</key>
	<integer>111</integer>
</dict>
</plist>
